<a href="https://colab.research.google.com/github/rafaeldjsm/RegLin/blob/master/GDAvIM.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
from google.colab import drive

drive.mount('/content/drive')

In [2]:
# -*- coding: utf-8 -*-
#Use to import pandas
import pandas as pd
import numpy as np
#Use to import the file into google Colab drive
from google.colab import files
df = pd.read_csv('/content/drive/My Drive/Dados.csv',encoding='latin1')
df=df.drop(columns=['Dado'])
dm=df.T
nl=dm.shape
nl = nl[1]

# Definir vetor/lista com:
vet = []; # define um vetor vazio
for i in range(0, nl, 1) : # ou mais simples neste caso "for i in range(n)"
  vet.append(int(1)); # anexe mais um elemento `a lista
# Imprime o vetor/lista de uma so' vez (na mesma linha)

vet=(pd.DataFrame(vet)).T

md=pd.concat([vet, dm])
md=md.drop(columns=[nl-1])
mdt=md.T
mdt

    0  Andar  ... Posição do Imóvel no Terreno Valor Total (R$)
0   1   7,00  ...                         3,00       125.000,00
1   1   5,00  ...                         3,00        95.000,00
2   1   5,00  ...                         2,00       150.000,00
3   1  11,00  ...                         3,00        75.000,00
4   1  11,00  ...                         2,00        85.000,00
5   1   9,00  ...                         3,00        50.000,00
6   1  13,00  ...                         3,00        60.000,00
7   1   2,00  ...                         1,00       950.000,00
8   1   4,00  ...                         1,00       350.000,00
9   1  10,00  ...                         3,00        60.000,00
10  1  13,00  ...                         3,00        50.000,00
11  1   6,00  ...                         1,00        55.000,00
12  1  12,00  ...                         1,00       270.000,00
13  1   9,00  ...                         3,00        60.000,00
14  1   2,00  ...                         1,00       285.000,00
15  1   1,00  ...                         1,00     1.175.000,00
16  1   9,00  ...                         1,00       285.000,00
17  1   7,00  ...                         1,00       750.000,00
18  1   1,00  ...                         2,00       550.000,00
19  1  11,00  ...                         3,00        70.000,00
20  1   7,00  ...                         3,00        60.000,00
21  1   2,00  ...                         2,00       650.000,00
22  1   2,00  ...                         2,00       200.000,00
23  1   3,00  ...                         1,00       120.000,00
24  1   5,00  ...                         1,00        60.000,00

[25 rows x 11 columns]

In [3]:
CI=md.dot(mdt)

TypeError: ignored